@import "variables";
/* ##############     HTML RECOMENDACIONES    ########### */
/* resposive tablet */
@media (min-width:767px) and (max-width:1023px){
    .tutoriales{
        &__tituloRecomendaciones h3{
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        &__informacion{
            font-size: 1.3rem;
        }
    }
    .contenido{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
        font-size: 1.1rem;
    }
}
/*  RESPONSIVE PANTALLA */
@media (min-width:1024px){
    
    .tutoriales{
        &__tituloRecomendaciones h3{
        font-size: 3rem;
        margin-top: 35px;
        margin-bottom: 35px;
        }
        &__informacion{
            font-size: 1.6rem;
        }
    }
    .contenido{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
        font-size: 1.3rem
    }
};
//######### Html Pintores Autorizados#########
@media (min-width:992px) {
    .pintores{
        &__informacion,&__enlaces{
            font-size: 1.6rem;
        }
    }
    ul{
        li{
            .ajustexxl--personal{
                font-size: 1.1rem;
                margin: 0 10px 0 10px;
            }
            
        }
    }
    .a__enlance--personal{
        font-size: 1.5rem;
    }
}
@media (min-width:1200px) {
    ul{
        li{
            .ajustexxl--personal{
                font-size: 1.4rem;
                margin: 0 10px 0 10px;
            }
            
        }
    }
    .a__enlance--personal{
        font-size: 1.7rem;
    }
}
/* ############## HTML Ingresar ############### */
@media (min-width:400px) and (max-width:767px){
    .body__personal{
        .formulario{
            h4.estilo__subtitulo{
                height: $v30 * 2;
                text-decoration: underline;
            }
        }
    }
}
/* ########### html__contacto ############ */
@media (min-width:768px) {
    form{
        h4{
            text-align: center;
            margin-top: 50px;
            font-size: 2rem;
        }
        legend{
            text-align: center;
        }
        fieldset{
            padding-left: 50px;
            input{
                width: 60%;
            }
            #terminos{
                display: inline;
                width: 5%;
            }
            .boton--personal{
                max-width: 70px;
                border-radius: 10px;
            }
   
        }
   }
}
/* ############ html__ingresar############# */
$dispositivo:mobile;

.registro{
    @if $dispositivo == mobile{
        background-color: rgba($color: aqua , $alpha: 0.4);
        max-width: 50vw;
        text-align: center;
        font: {
            family: arial;
            size: 1.2rem;
        }  
        p{
            font-size: 1.0rem;
        }
        legend{
            font-size: 1.5rem;
        }
        input{
            margin-top: 5px;
        }
    }
    @else if $dispositivo == tablet{
        background-color: rgba($color: blue , $alpha: 0.2);
        font: {
            family: arial;
            size: 1.3rem;
        }  
        p{
            font-size: 1.1rem;
        }
        legend{
            font-size: 1.6rem;
        }
    }
    @else {
        background-color: rgba($color: red , $alpha: 0.2);
        font: {
            family: arial;
            size: 1.4rem;
        }  
        p{
            font-size: 1.2rem;
        }
        legend{
            font-size: 1.7rem;
        }
    }
}

/* maps gets */

$colorTexto:(
    primario: #a52a2a,
    secundario:#0e9594,
    basico: #000000,
);

.asignoColor{
    color: map-get($colorTexto, basico);
}
/* mixin */
@mixin botones{
    padding: 15px;
    border: 2px solid #000000;
    background-color: #0e9594;
    background: linear-gradient(#0e9594,#a52a2a)
}
.atributoBoton{
    @include botones;
}