// /* ###################################################### */
/* ##################   HTML Index    ################### */
// /* ############# ESTILO PARA EL CONTENIDO ############### */
ul{
     li{
          span{
               font-weight:bold;
               font-size: 1.3rem;
               color: #0e9594;
          }
     }
}
.contenido__index{
    background-color: #d17a22;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px; 
    &--item{
         border-radius: 15px;
         background-color:#c5d5e4;
         margin: 20px 0;
         padding: 10px;
    }
}
.busqueda{
     background-image: url(../imagenes/pinturaPared.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 10px;
     margin-top: 30px;
     padding:10px ;
     &__h2--personal {
          text-decoration: underline;
     }
     &__p--personal {
          color: $colorPrincipal;
     }
     &__t--personal{
          color: $colorSecundario;
          background-color: rgba(0,0,0, 0.3);
          text-decoration: underline;
     }
     &__informacion{
          background-color: #c5d5e4;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 25px;
     }
}
// /************* boton selec de colores Principales*************** */
#principales{
     option{
          &#red{
               background-color: red;
          }
          &#green{
               background-color: green;
          }
          &#blue{
               background-color: blue;
          }
          &#black{
               background-color: black;
               color: white;
          }
          &#white{
               background-color: white;
          }
          &#yellow{
               background-color: yellow;
          }
          &#orange{
               background-color: orange;
          }
          &#grey{
               background-color: grey;
          }
     }
}
// /************* boton selec de colores Calidos*************** */
#calidos{
     option{
          &#rosa{
               background-color: #f3b9c6;
          }
          &#verdeagua{
               background-color: #b9e28c;
          }
          &#azulcielo{
               background-color:#bce7fd;
          }
          &#terracota{
               background-color: #cc7466;
          }
          &#rosapiel{
               background-color: #e9c8c3;
          }
          &#rosacalido{
               background-color: #ebc2d3;
          }
          &#platinio{
               background-color: #ebeaeb;
          }
          &#lavanda{
               background-color: #ac7287;
          }
     }
}

// /************* boton selec de colores Recomendados*************** */
#recomendados{
     option{
          &#vino{
               background-color: #632b30;
          }
          &#bosque{
               background-color: #0a775f;
          }
          &#azuloscuro{
               background-color: #1f4590;
          }
          &#grisclaro{
               background-color: #798c92;
          }
          &#marfil{
               background-color: #f4e6c1;
          }
          &#nube{
               background-color: #75b7ba;
          }
          &#persa{
               background-color: #e99557;
          }
          &#caramelo{
               background-color: #c99b67;
          }
     }
}
.videos{
     margin: 30px auto;
     background-color: #d17a22;
     border-radius: 10px;
     padding:10px ;
     &__h4{
          text-decoration: underline;
     }
     &__informacion{
          background-color: #c5d5e4;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 25px;
     }
     &__muestra{
          margin: auto;
          padding: 15px;
          gap: 30px;
     }
}
@media (min-width:1200px) {
     ul{
          li{
               span{
                    font-size: 1.6rem;
               }
          }
     }
}