@import "variables";
@import "stylesindex";

// /* ###################################################### */
/* ##############   HTML RECOMENDACIONES    ############# */
// /* ############# ESTILO PARA EL CONTENIDO ############### */


.tituloRecomendaciones{
     h3{
          margin-top:30px;
          height: 47px;
     }
}
.contenido{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    width: 70%;
    margin: auto;
}
.contenido{
     p{
          background-color: rgba(173,216,230, 0.5);
          border-radius: 15px;
          padding: 5px;
          margin-top: 10px;

     }
}

@import "mediaquery";