*{
    box-sizing: border-box;
}
ul,ol,a{
    text-decoration: none;
    list-style: none;
}

.body__personal{
    background-color: #a52a2a;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    padding: 10px;
}
.body__personal--bg{
    background-image: url(../imagenes/lineasEnPared.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.header__personal{
    background-color: rgba(0,0,0, 0.8);
    border-radius: 15px;
    color: #a52a2a;
    position: sticky;
    top: 20px;
    margin: auto;
    z-index: 10;
}
.a__enlance--personal{
    color: #0e9594    ;
}
.text__color--personal{
    color: #0e9594;
}
.estilo__subtitulo{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    height: 40px;
    color:#0e9594;
    font-weight: 700;
}
.bg__bordo{
    background-color: rgb(165, 40, 40,0.5);
}
.bg__1--personal{
    background-color: rgb(255, 160, 122);
}
.bg__2--personal{
    background-color: lightblue;
}
.bg__3--personal{
    background-color: lightyellow;
}

.footer__personal{
    background-color: rgba(0,0,0, 0.8);
    border-radius: 15px;
    color: #a52a2a;
    top: 20px;
    margin: auto;
}
.footer__ul{
    padding-left: 0;
}
.footer__personal div ul li a{
    color: #0e9594;
}
section div a{
    color: #0e9594;
} 
.h--personal{
    max-height: 700px;
}

